<div id="studentCalendar">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <button id="prevMonth" class="btn btn-light">◀</button>
        <h3 id="calendarTitle" class="m-0"></h3>
        <button id="nextMonth" class="btn btn-light">▶</button>
    </div>
    <div id="studentCalendarGrid" class="row g-1"></div>
</div>