@{
	ViewData["Title"] = "Register";
	Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Refeitorio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Refeitorio.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="login-main">
        <div class="refeitorio-title">
                <h2>Registar</h2>
            </div>
    </div>
</body>
</html>
