html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.login-main {
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.refeitorio-title {
    margin-bottom: 20px;
    margin-top: 150px;
}

.login-plate {
    display: flex;
    height: 230px;
    width: 270px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-plate form {
    text-align: center;
}

#btnRegistar {
    background: white;
    color: black;
    transition: 0.3s;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
}

#btnRegistar:hover {
    filter: brightness(0.9);
}

.btn-equal {
    width: 0;
    flex: 1 1 0;
    white-space: nowrap;
}

.form-control {
    filter: brightness(0.9);
    border: none;
    margin: 5px;
}

.error-span {
    height: 25px;
}

.error-span span {
    margin: 0;
    padding: 0;
}

.login-plate-register {
    display: flex;
    height: 550px;
    width: 350px;
    align-items: center;
    justify-content: center;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}

.login-plate-register form {
    text-align: center;
}

.search-form {
    width: 335px;
}

.search-form:focus {
    outline: none;
    box-shadow: none;
}