@{
    ViewData["Title"] = "Login";
    Layout = null;
}

<div class="login-main">
    <div class="login-plate">
        <form>
            <div class="input-group mb-3">
                <input type="email" class="form-control" placeholder="Endereço email" />
            </div>
            <div class="input-group mb-3">
                <input type="password" class="form-control" placeholder="Palavra-passe" />
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
        </form>
    </div>
</div>